@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>

    body {
        background-image: url('images/background3.png');
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .img-fluid {
        padding-top: 5px;
        max-width: 100%;
        height: auto;
    }
    h1{
        color: black;
        text-decoration: underline;
    }
    p{
        font-size: 20px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Cryptographic Hashing</h1>
    <p>How to implement cryptographic hashing for passwords and uploaded files & images.</p>
</div>
